<div class="login">
    <div class="header">
        <img class="logo-header" title="Logo" src="./../img/logo@1X2.png">
        <span class="search">
                <img class="logo-search" title="Search" src="./../img/search-icon.svg">
        </span>
    </div>
    <div class="login-container">
        <div class="container-header">
            <h2>Sign In Now</h2>
            <p>Unlock awesome features!</p>
        </div>
        <div class="container-body">
            <!--- login form -->
            <form class="form-horizontal" name="loginForm" novalidate ng-app="formValidationApp">
                <div class="form-group" ng-class="{'has-error': loginForm.email.$error.required && loginForm.email.$dirty, 'has-success': loginForm.email.$valid }">
                    <input type="email" class="form-control" placeholder="Email" name="email" ng-model="user.email" required/>
                    <p class="help-block" ng-if="loginForm.email.$error.required && loginForm.email.$dirty">Required field*</p>
                </div>
                <div class="form-group" ng-class="{'has-error': loginForm.password.$error.required && loginForm.password.$dirty, 'has-success': loginForm.password.$valid}">
                    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password" ng-minLength="8" required/>
                    <p class="help-block" ng-if="loginForm.password.$error.required && loginForm.password.$dirty">Required field*</p>
                </div>
                <button class="btn btn-default pull-right" ng-disabled="loginForm.emails.$error.required || loginForm.password.$error.required" ng-click="submitForm()">SIGN IN</button>
            </form>
            <!-- login form end -->
        </div>
    </div>
    <hr/>
    <div class="products-container">
        <div class="product" ng-repeat="product in productList">
            <img class="logo-product" title="Product" src="{{product.src || './../img/logo@2X2.png'}}">
            <div class="product-description">
                <p>{{product.description || "Product Name"}}</p>
                <h2>{{product.price || "AED 0000.00"}}</h2>
            </div>
        </div>
    </div>
</div>